@{
    ViewData["Title"] = "Home Page";
}
<div id="react-app">Loading...</div>
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}