@{
    ViewData["Title"] = "Home Page";
}
<div id="react-app"><img class="loading" src="~/elipsis.svg" /></div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}